{% extends 'base.html' %}
{% block content %}
<h2>{{ recipient.username }}'s Shoutouts</h2>
<div id="shoutouts-container" class="row">
    {% for shoutout in recipient.shoutouts_received.all %}
    <div class="col col-lg-4 col-sm-12">
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{ shoutout.content }}</p>
                <a href="{% url 'shoutouts:likes' shoutout.id %}" class="card-link btn btn-primary">{{ shoutout.likes }} 👍</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}