{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}

{% if user.is_authenticated %}
<div class="form-container">
    <form action="{% url 'shoutouts:home' %}" method="POST">
        {% csrf_token %}
        <div id="form">{{ form|crispy }}</div>
        <button class="submit-btn">Submit</button>
    </form>
</div>
<div id="shoutouts-container" class="row">
    {% for shoutout in shoutouts %}
    <div class="col col-lg-4 col-sm-12 m-auto">
        <div class="card">
            <div class="card-body">
            <h4 class="card-title">To <a class="recipient-name"
                    href="{% url 'shoutouts:individual_shoutouts' shoutout.recipient.id %}">{{ shoutout.recipient }}</a></h4>
                <p class="card-content">{{ shoutout.content }}</p>
                <p class="total-likes"> {{ shoutout.likes }} <button class="like-button">👍</button></p>
                <p class="card-detail">From, {{ shoutout.user }} on {{ shoutout.datetime }}</p>
                
                
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div id="shoutouts-container">
    <ul id="shoutout-list">
        {% for shoutout in shoutouts %}
        <li class="shoutout">
            <p>To <a class="recipient-name" href="">{{ shoutout.recipient }}</a>:</p>
            <p id="content">{{ shoutout.content }}</p>
            <p id="shoutout-detail">From, {{ shoutout.user }} on {{ shoutout.datetime }}</p>
        </li>
        {% endfor %}
    </ul>
{% endif %}
</div>
<style>
    .card-content{
        font-size: 16pt;
        margin-bottom: 3rem;
    }
    .card-detail {
        font-size: 10pt;
    }
    .like-button {
        background-color: var(--blue);
        border-radius: 20%;
    }
    select {
        width: 10rem;
    }

    label {
        font-size: 28px;
    }
   
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .form-container form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .submit-btn {
        background-color: var(--blue);
        color: white;
        padding: 5px;
        font-size: 16px;
        border-radius: 2px;
    }

    .recipient-name {
        color: black;
        text-decoration: underline;
    }
</style>
{% endblock content %}
