{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <form action="{% url 'shoutouts:home' %}" method="POST">
        {% csrf_token %}
        <div id="form">{{ form|crispy }}</div>
        <button class="btn btn-primary" class="submit-btn">Submit</button>
    </form>
</div>

<div class="column">
    {% for shoutout in shoutouts %}
    <div class="col mx-auto my-3 col-lg-10  col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    To <a href="{% url 'shoutouts:individual_shoutouts' shoutout.recipient.id %}">
                        {{ shoutout.recipient }}
                    </a>
                </h4>
                <p class="card-content">{{ shoutout.content }}</p>

                <form action="{% url 'shoutouts:likes' shoutout.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button>{{ shoutout.like_set.count }} 👍</button>
                </form>
                {% if shoutout.anonymous %}
                <p class="card-detail">From, Anonymous on {{ shoutout.datetime }}</p>
                {% else %}
                <p class="card-detail">From, {{ shoutout.user }} on {{ shoutout.datetime }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="row">
    {% for shoutout in shoutouts %}
    <div class="col col-lg-4 col-sm-12 m-auto">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">To <a
                        href="{% url 'shoutouts:individual_shoutouts' shoutout.recipient.id %}">{{ shoutout.recipient }}</a>
                </h4>
                <p class="card-content">{{ shoutout.content }}</p>
                <form action="{% url 'shoutouts:likes' shoutout.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="btn btn-lg btn-primary" disabled>{{ shoutout.like_set.count }} 👍</button>
                </form>
                <p class="card-detail">From, {{ shoutout.user }} on {{ shoutout.datetime }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
</div>
{% endblock content %}