{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'initiative.css' %}">
{% endblock extra_css %}
{% block content %}
<form action="{% url 'initiatives:create' %}" method="POST" class="input-form">
    {% csrf_token %}
    {{ form }}
    <button class="btn btn-primary">Submit</button>
</form>

<div class=".hidden-xs-down" style="display:flex; flex-direction: column;">
    {% for initiative in initiatives %}
    <div class="card m-2 p-2 .hidden-xs-down">
        {% if initiative.completion %}
        <p class="card-title text-success .hidden-xs-down"> Goal: {{ initiative.title }}</p>
        {% else %}
        <p class="card-title text-danger .hidden-xs-down"> Goal: {{ initiative.title }}</p>
        {% endif %}
        <p class="card-text .hidden-xs-down"> Leader: {{ initiative.team_leader }} </p>
        <a href="{% url 'initiatives:detail' initiative.id %}" class="btn btn-info">
            Details
        </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}