{% extends 'home.html' %}
{% block content %}
<p class="container mt-5">
    <p class="text-center">Good Morning, Welcome to Base Camp Coding Academy!</p>
    <p class="text-center"> Here are Today's Check-Ins</p>
{% if user.is_staff  %}
        <div class="container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Student</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user, status in daily_report.items %}
                    <tr>
                        <td scope="row">{{user.username}}</td>
                        <td scope="row">{{ status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        {% if not user_is_checked_in %}
        <form action="{% url 'attendance:check-in' %}" method="POST">
            {% csrf_token %}
            <p class="text-center"> Please Click the <button class="btn btn-primary">Check In</button> to Check In! </p>
        </form>
        {% else %}
            <p class="text-center"> {{user.username}}, you have already checked in for today!</p>
        {% endif %}
        {% endif %}
        {% endblock content %}