{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div class="shadow card border-warning mb-5">
        <div class="card-header text-white bg-warning">
          <p>{{ student.user.username}}</p>
        </div>
        <div class="card-body">
          <div class="text-center">
            <img class="w-50 rounded-circle border border-dark"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTT9MmOp5TcW6fY622cSYjpz06DAd5A1PAo4s-MWKK6iQJRThq8">
          </div>
          <div>
            <h5 class="card-title">{{student.headline}}</h5>
            <p class="card-text">{{student.bio}}</p>
            <ul>
              <li>
                <a target="_blank" href={{student.codepen}} class="card-text">codepen</a>
              </li>
              <li>
                <a target="_blank" class="card-text" href={{student.github_repository}}>github repo</a>
              </li>
            </ul>
            <a href="{% url 'showcase:profile-page' student.id %}" class="btn btn-primary">See details</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="row">
        {% for profile in profiles  %}
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body bg-light">
              <div class="text-center">
                <img class="w-25 rounded-circle border border-primary"
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTT9MmOp5TcW6fY622cSYjpz06DAd5A1PAo4s-MWKK6iQJRThq8">
                <p class="card-title">{{ profile.user.username }}</p>
                <a href="{% url 'showcase:profile-page' profile.id %}"
                  class="btn btn-outline-primary btn-sm">Details</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}