{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
        <div class="container">
            <div class="column">
                <div class="col-12">
                {% if user.submission_set.for_today.exists %}
                                <div class="col-12">
                <div class="card text-white bg-dark mt-3 mb-3 p-1">
                    <div class="card-header h3 text-center">Reflection</div>
                        <div class="card-body">
                            <p class="card-text text-center">Thanks for the Reflection</p>
                        </div>
                </div>
                </div>
                {% else %}
                {% if reflection %}
                    <div class="card text-white bg-dark mt-3 mb-3 p-7">
                        <div class="card-header h3 text-center">Reflection {{reflection.date}} </div>
                        <div class="card-body">
                        <p class="card-text">
                            <form action="{% url 'reflections:submit_reflection' reflection.id %}" method="POST">
                            {% csrf_token %}
                            {% for question in reflection.question_set.all %} 
                                <p class="h4 text-center">Question {{ forloop.counter }}:</p>
                                <p class="h4 text-center"><small>{{question.prompt}}</small></p>
                                <div class="form-group">
                                    <label class="col-form-label" for="inputDefault">Answer:</label>
                                    <textarea name="question-{{question.id}}" rows="3" class="form-control mw-75" id="inputDefault" required></textarea>
                                </div>
                            {% endfor %}
                                <button class="btn-info w-50 offset-3 p-2">Submit</button>
                            </form>                       
                        </div>
                    </div>

                </div>
                {% else %}
                <div class="col-12">
                <div class="card text-white bg-dark mt-3 mb-3 p-1">
                    <div class="card-header h3 text-center">Reflection</div>
                        <div class="card-body">
                            <p class="card-text text-center">No Reflection today</p>
                        </div>
                </div>
                </div>
                {% endif %}
                {% endif %}
                {% if reflection.feedback %}
                <div class="col-12">
                <div class="card text-white bg-dark mt-3 mb-3 p-1">
                    <div class="card-header h3 text-center">Class Wide Feeback</div>
                        <div class="card-body">
                            <p class="card-text text-center">{{reflection.feedback}}</p>
                        </div>
                </div>
                </div>
                {% else %}
                <div class="col-12">
                <div class="card text-white bg-dark mt-3 mb-3 p-1">
                    <div class="card-header h3 text-center">Class Wide Feeback</div>
                        <div class="card-body">
                            <p class="card-text text-center">No Class Wide Feedback Yet!</p>
                        </div>
                </div>
                </div>
                {% endif %}
            {% if submission.feedback %}
            <div class="col-12">
                <div class="card text-white bg-dark mt-3 mb-3 p-1">
                    <div class="card-header h3 text-center">Individual Feeback</div>
                        <div class="card-body">
                            <p class="card-text text-center">{{submission.feedback}}</p>
                        </div>
                </div>
                </div>
                {% else %}
                <div class="col-12">
                <div class="card text-white bg-dark mt-3 mb-3 p-1">
                    <div class="card-header h3 text-center">Individual Feeback</div>
                        <div class="card-body">
                            <p class="card-text text-center">No Individual Feedback Yet!</p>
                        </div>
                </div>
                </div>
                {% endif %}
            </div>
        </div>
                {% if user.is_staff %}
                <a href="{% url 'reflections:admin_view' %}">Admin Page</a>
                {% endif %}


{% endif %}
{% endblock content %}