{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="card text-white bg-dark mt-3 mb-3" style="max-width: 30rem;">
                        <div class="card-header">Reflection {{reflection.date}} </div>
                        <div class="card-body">
                        <p class="card-text">
                            {% comment %} <form action="{% url 'reflections:submit_reflection' question.id %}" method="POST">
                            {% csrf_token %} {% endcomment %}
                            <label style="font-size: 16px;"> Name: 
                                <input type="text" name="name" class="form-control" style="max-width: 25rem;" id="inputDefault">
                            </label>
                            {% for question in questions %} 
                            <form action="{% url 'reflections:submit_reflection' question.id %}" method="POST">
                            {% csrf_token %}
                                <p>Quesiton {{ forloop.counter }}:</p>
                                <p><small>{{question.prompt}}</small></p>
                                <div class="form-group">
                                    <label class="col-form-label" for="inputDefault">Answer:</label>
                                    <input type="text" class="form-control" style="max-width: 25rem;" id="inputDefault">
                                </div>
                            {% endfor %}
                            <button type="button" style="background-color:#81d5f1; min-width:20rem" class="btn">Submit</button>
                            </form>                       
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endif %}
{% endblock content %}